'.source.python':
    'overwrite':
        'prefix': 'overwrite'
        'body': '''
def $1(self, *args, **kwags):
    $0
    super($3, self).$1(*args, **kwags)'''
    'coding':
        'prefix': 'coding'
        'body': '# -*- coding: utf-8 -*- $0'
